.Body {
  width: 95%;
  margin: 0px auto;
  padding: 1rem;
  color: rgb(11, 13, 54);
  justify-content: space-evenly;
}

.Body .Uranus {
  text-transform: uppercase;
  padding: 1rem;
  width: 30%;
  align-self: center;
  margin: 0px auto;
  background-color: #dd705a;
  color: white;
  text-align: center;
  border-radius: 15px;
  transition: 200ms;
  /* width: 20vh; */
}

.Body .Uranus:hover {
  color: #dd705a;
  border: 3px solid #dd705a;
  cursor: pointer;
  background-color: white;
  border-radius: 15px;
}

.img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.Body .top {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.top h3 {
  margin: 10px 0px;
}

.top .para {
  width: 55%;
  margin-right: 20px;
}

.top .img {
  width: 40%;
}

@media screen and (max-width: 991px) {
  .Body .top {
    display: grid;
  }
  .Body .top .para {
    width: 100%;
  }
  .Body .top .img {
    width: 100%;
  }
  .Body .Uranus {
    width: 65%;
    padding: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .Body .Uranus {
    width: 80%;
    padding: 1rem;
  }
}

.mid {
  margin-top: 20px;
}

.mid p {
  margin-top: 20px;
}

.cards .card {
  width: 20%;
  color: rgb(11, 13, 54);
  transition: 500ms;
  border: 1px solid rgb(11, 13, 54);
}

.card img {
  height: 15rem;
}

.cards {
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  a {
    background-color: rgb(11, 13, 54);
  }
}

@media screen and (max-width: 1150px) {
  .card {
    width: 40% !important;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 60% !important;
    margin-bottom: 30px;
  }
}

.cards .card:hover {
  background-color: rgb(11, 13, 54);
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgb(11, 13, 54);
  scale: 1.1;
  a {
    background-color: white !important;
    border: none;
    color: rgb(11, 13, 54);
  }
}
