.Body {
  width: 95%;
  margin: 0px auto;
  padding: 1rem;
  color: rgb(11, 13, 54);
  justify-content: space-evenly;
}

.Body .Uranus {
  text-transform: uppercase;
  padding: 1rem;
  width: 30%;
  align-self: center;
  margin: 0px auto;
  background-color: #dd705a;
  color: white;
  text-align: center;
  border-radius: 15px;
  transition: 200ms;
  /* width: 20vh; */
}

.Body .Uranus:hover {
  color: #dd705a;
  border: 3px solid #dd705a;
  cursor: pointer;
  background-color: white;
  border-radius: 15px;
}

.Body img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.Body .top {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.top h3 {
  margin: 10px 0px;
}

.top .para {
  width: 55%;
  margin-right: 20px;
}

.top .img {
  width: 40%;
}

@media screen and (max-width: 991px) {
  .Body .top {
    display: grid;
  }
  .Body .top .para {
    width: 100%;
  }
  .Body .top .img {
    width: 100%;
  }
  .Body .Uranus {
    width: 65%;
    padding: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .Body .Uranus {
    width: 80%;
    padding: 1rem;
  }
}

.mid {
  margin-top: 20px;
}

.mid p {
  margin-top: 20px;
}
