.Body {
  padding: 1rem;
  color: rgb(11, 13, 54);
  justify-content: space-evenly;
}

.Body h2 {
  color: rgb(11, 13, 54);
}

.Body p {
  font-size: 20px;
}

.Body img {
  height: 550px;
  width: 550px;
  border-radius: 50%;
}
